* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}


:root {
    --bg : rgb(255, 255, 255);
    --nav-bg: rgb(255, 255, 255);
    --inv-bg: rgb(68, 74, 246);
    --w-text: rgb(251, 251, 255);
}


header {
    height: 70px;
    background-color: var(--nav-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    position: relative;
    /* overflow: hidden; */
}
.break_div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
}
.break {
    width: 100%;
    height: 950%;
    background-color: var(--inv-bg);
    position: absolute;
    right: 0;
    transform: rotate(-40deg);
}



nav {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}



.logo > img {
    border-radius: 50%;
    
}


.links_list {
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.links_list li {
    display: inline;
    margin: 0px 10px;
}
.links_list a {
    text-decoration: none;
    color: var(--w-text);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    transition: 0.20s;
    
}
.links_list a:hover {
    color: rgb(123, 127, 240);
}
.dd {
    position: relative;
}
.dd i {
    padding-left: 7px;
    transition: 0.25s;
    color: var(--w-text);
}
.dd a {
    display: inline;
}
.nav_dropdown {
    width: 200px;
    height: 50px;
    background-color: var(--bg);
    /* background-color: rebeccapurple; */
    position: absolute;
    top: 45px;
    left: -10px;
    padding: 0;
    transform: scaleY(0);
    transition: 0.25s;
    transform-origin: top;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-top: 3px solid var(--inv-bg);
}
.nav_dropdown a {
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;

}

.dd a:hover~.nav_dropdown, .dd a:active~.nav_dropdown, .nav_dropdown:hover {
    transform: scaleY(1);
}
.dd a:hover, .dd a:active, .nav_dropdown:hover~.dd a {
    color: rgb(123, 127, 240);
}
.dd a:hover~.arrow, .dd a:active~.arrow, .nav_dropdown:hover~.arrow {
    transform: rotate(-90deg);
}




/* -------------------------navbar mobile part------------------  */

.icon{
    width: 50px;
    height: 50px;
    background-color: rgb(53, 58, 195);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon svg {
    width: 35px;
    height: 35px;
    color: aliceblue;
}

.mobile_nav {
    width: 100%;
    position: absolute;
    background-color: aqua;
    transition: 0.25s;
    transform-origin: top;
    transform: scaleY(0);
}
.mobile_nav ul {
    margin: 0;
    padding: 0;
}
.mobile_nav li {
    width: 100%;
    background-color: rgb(243, 241, 246);
    list-style: none;
    text-decoration: none;
    padding: 15px;
    border-top: 1px solid rgb(224, 224, 224) ;
}
.mobile_nav a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 600;
    transform: 0.26s;
}
.mobile_nav a:hover {
    color: rgba(0, 0, 0, 0.411);
}


@media screen and (min-width: 600px) {
    #icon1 {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    #icon1 {
        display: flex;
    }
    .links {
        display: none;
    }
}



main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}



/* ==================hero section starts here------------- */
.part1 {
    align-self: center;
    /* margin-top: 150px; */
    width: 100%;
    max-width: 1600px;
    /* min-height: calc(100svh - 70px); */
    min-height: 100svh;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 0px 100px;
}

.hero_text {
    width: 50%;
    max-width: 500px;
}
.header_lines {

    font-family: "Montserrat",Sans-serif;
    width: 580px;
    font-weight: 700;
}
.header_lines h1 {
    font-size: 55px;
    font-weight: 700;
}
.line_heading {
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}
.hero_text p {
    margin-top: 20px;

}
.hero_text span {
    color: rgb(59, 130, 246);
}

.hero_links {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.join {
    width: 100px;
    height: 40px;
    /* background-color: rgb(52, 63, 73); */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
}
.join_b {
    width: 100px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    outline: none;
    z-index: 99;
    transition: 0.10s;
    border: 2px solid black;
}
.blockh {
    text-decoration: none;
    width: 0px;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: white;
    /* border-radius: 20px; */
    transition: 0.25s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.join_b:hover~.blockh {
    width: 120px;
}
.join_b:hover {
    color: black;
}

.lm {
    margin-left: 30px;
    color: black;
    font-size: 18px;
    text-decoration: none;
    transition: 0.25s;
}
.lm:hover {
    color: deepskyblue;
}




.images {
    width: 60%;
    min-width: 500px;
}

.images img {
    width: 100%;
    /* height: 100px; */
}



/* -------------------department part starts here--------- */
.part2 {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 100px 0px;
    background-color: #FAF9F6;
}

.part2 h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 7px;
    text-align: center;
}
.line {
    width: 250px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    margin-bottom: 100px;
}
#dpt {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    padding: 0 100px;
    max-width: 1700px;

}
.dpt {
    width: 350px;
    height: 600px;
    transition: 0.25s;
    user-select: none;
    cursor: crosshair;
}
.dpt:hover {
    transform: translateY(-10px);
}
.ani_dpt {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    border-bottom-right-radius: 20px;
}
.dpt_img {
    width: 100%;
    height: 200px;
}
.text {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}
.dpt article {
    align-self: center;
    width: 90%;
    text-align: center;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    margin-bottom: 150px;
}
.dpt_name {
    font-size: 23px;
    font-weight: 700;
}
.dpt article p {
    font-size: 14px;
    width: 80%;
    text-align: center;
}
.dpt_member {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    z-index: 99;
    position: absolute;
    bottom: 17px;

}
.mem {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: rgb(2, 169, 247);
    transition: 0.25s;
}
.sen {
    color: black;
}
.blockd {
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgb(2, 169, 247);
    position: absolute;
    z-index: 9;
    transition: 0.25s;
    transform-origin: bottom;
    border-bottom-right-radius: 20px;
}
.dpt_name, .dpt_dis, .sen {
    transition: 0.25s;
}
.dpt:hover {
    .blockd {
        height: 100%;
    }
    .dpt_name, .dpt_dis {
        color: aliceblue;
    }
    .mem {
        background-color: black;
        color:aliceblue;
    }
    .sen {
        color: aliceblue;
    }
}


/* ----------------------short description part starts here----------------- */
.part3 {
    /* margin-top: 100px; */
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    /* height: 90svh; */
    min-height: 100%;
    position: relative;
    /* overflow: hidden; */
    background-image: url(../assets/images/sdis.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    background-color: rgb(0, 0, 0);
    padding: 70px 0px;
}
.part3 img {
    border-radius: 50%;
    margin-left: 100px;
    max-width: 400px;
}
.sdis {
    width: 900px;
}
.sdis h2 {
    font-size: 65px;
    color: aliceblue;
}
.sheading {
    width: 600px;
}
.sdis .sline {
    width: 100%;
    height: 7px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
}
.sdis p {
    font-size: 20px;
    font-weight: 500;
    color: aliceblue;
    font-family: "Roboto", sans-serif;
}
.sdis a {
    padding: 7px 25px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.25s;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
}
.sdis a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}



/* -------------------why you should join part starts here------------- */
.part4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 0px;
    background-image: url(../assets/images/tri.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
}
.part4 h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    width: 90%;
}
#wjoin {
    margin-top: 60px;
    width: 90%;
    max-width: 1700px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    gap: 100px;
    flex-wrap: wrap;
}
.wjoin {
    max-width: 450px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.wicon {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 30px;
    font-size: 50px;
    transition: 0.25s;
}
.wicon:hover {
    scale: 1.2;
}
.wh3 {
    font-weight: 600;
    margin-bottom: 20px;
}

/* -------footer part starts here-------- */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.fmain {
    width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: black;
    justify-content: space-around;
    gap: 30px;
    padding: 20px 150px;
}
.breaker {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fbreak {
    width: 5px;
    height: 70%;
    background-color: blueviolet;
    border-radius: 10px;
}
.box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
#box1 {
    max-width: 500px;
    margin: 20px 0px;
}
.fheading {
    max-width: 320px;
}
.fline {
    width: 75%;
    height: 7px;
    border-radius: 10px;
    background-color: aliceblue;
    margin-bottom: 20px;
}
#box1 h3 {
    font-size: 700;
    font-family: "Roboto", sans-serif;
}
#box1 p {
    font-family: "Roboto", sans-serif;
}
.hero_buttons2 {
    width: 100px;
    height: 40px;
    /* background-color: rgb(52, 63, 73); */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}
.join2 {
    width: 100px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    background-color: black;
}
.join_b2 {
    width: 100px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 17px;
    border-radius: 20px;
    border: none;
    outline: none;
    z-index: 99;
    transition: 0.10s;
    border: 2px solid rgb(255, 255, 255);
    font-weight: 500;
}
.blockh2 {
    text-decoration: none;
    width: 0px;
    height: 60px;
    position: absolute;
    top: 0;
    z-index: 9;
    background-color: rgb(255, 255, 255);
    /* border-radius: 20px; */
    transition: 0.25s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.join_b2:hover~.blockh2 {
    width: 120px;
}
.join_b2:hover {
    color: rgb(0, 0, 0);
}

#box2 {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    gap: 50px;
}
.link1, .link2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
#box2 a {
    text-decoration: none;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.699);
    transition: 0.25s;
}
#box2 a:hover {
    color: rgba(255, 255, 255, 0.438);
}

#box3 {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
}
.fheading2 {
    width: 150px;
}

#box3 a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.699);
    font-size: 18px;
    margin: 5px 0px;
    transition: 0.25s;
}
#box3 a:hover {
    color: rgba(255, 255, 255, 0.438); 
}
.fimg {
    width: 100px;
    height: 100px;
    align-self: center;
}

.cc {
    bottom: 10px;
    color: rgba(255, 255, 255, 0.76);
    font-size: 20px;
    text-align: center;
}





@media screen and (max-width:1650px) {
    .part3 img {
        margin: 0;
    }
}
@media screen and (max-width:1450px) {
    .part1 {
        padding: 0;
    }
    .images {
        margin-bottom: 60px;
    }
}
@media screen and (max-width:1250px) {
    .fmain {
        width: 90%;
        padding: 30px 0px;
    }
}
@media screen and (max-width:1200px) {
    .sdis {
        width: 90%;
    }
}
@media screen and (max-width: 1000px) {
    .hero_text {
        width: 90%;
    }
    .hero_text h1 {
        font-size: 40px;
    }
    .header_lines {
        width: 450px;
    }
    .fmain {
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #box1, #box2, #box3 {
        align-items: center;
        text-align: center;
    }
    .fheading, .fheading2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
        /* justify-content: center; */
    }
    .hero_buttons2 {
        width: 100%;
        background-color: black;
    }
}
/* @media screen and (max-width:800px) {
    .part1 {
        padding: 0;
    }
} */
@media screen and (max-width:700px) {
    #dpt {
        padding: 0;
    }
    .sheading {
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .images {
        min-width: 100% !important;
    }
    .header_lines {
        width: 100%;
    }
    .header_lines h1 {
        font-size: 30px;
    }
    .sdis {
        text-align: center;
    }
    .part3 img {
        width: 250px;
    }
}
@media screen and (max-width: 300px) {
    .part3 img {
        width: 200px;
    }
}